<h1 class="mt-4" style="color: #183356;">Students</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color: #183356;">Search</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i> New
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Name</th>
                        <th>CPF</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{ student.matricula }}</td>
                        <td>{{ student.nome }}</td>
                        <td>{{ student.cpf }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/students-form/{{ student.matricula }}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" (click)="preparaDelecao(student)" data-toggle="modal"
                                data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmation</h4>

                </div>
                <div class="modal-body" *ngIf="studentSelecionado">
                    Do you confirm the deletion of the student {{ studentSelecionado.nome }}?

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarStudent()" data-dismiss="modal">Confirm</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>

    </div>
</div>
