<h1 class="mt-4" style="color: #183356;">Grades</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color: #183356;">Register Grades</li>
</ol>
<div class="container">
    <form #gradesForm="ngForm" (ngSubmit)="OnSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                    Grades saved/updated with success
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of error">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do Estudante:</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="grade.studentId">
                        <option value="">Selecione ... </option>
                        <option *ngFor="let student of students" [ngValue]="student.matricula">
                            {{ student.nome }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Curso Nome:</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="grade.courseId">
                        <option value="">Selecione ... </option>
                        <option *ngFor="let cursos of curso" [ngValue]="cursos.id">
                            {{ cursos.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Grade: *</label>
                    <input type="text" [(ngModel)]="grade.grades" name="grades" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
        
                <button type="button" routerLink="/grades-diretor" class="btn btn-warning" style="margin-left: 10px;">
                    <i class="fa fa-plus"></i> Consultar
                </button>
            </div>
        </div>
    </form>
</div>