<h1 class="mt-4" style="color: #183356;">Course</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color: #183356;">Register</li>
</ol>
<div class="container">
    <form #cursosForm="ngForm" (ngSubmit)="OnSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                    Curso saved/updated with success

                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of error">
                    {{ erro }}

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" [ngModel]="curso.id" name="id" class="form-control" disabled="true"/>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Professor: *</label>
                    <input type="text" [(ngModel)]="curso.professorId" name="professorId" class="form-control"/>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" [(ngModel)]="curso.nome" name="nome" class="form-control"/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descricao: *</label>
                    <input type="text" [(ngModel)]="curso.descricao" name="descricao" class="form-control"/>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>

</div>

