<h1 class="mt-4" style="color: #183356;">Course</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color: #183356;">{{ curso.id ? 'Ediçao' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #Form="ngForm" (submit)="OnSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                    Course saved with success

                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of error">
                    {{ erro }}

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <label>Descriçao do Curso</label>
                    <input class="form-control" [(ngModel)]="curso.descricao" type="text" name="descricao"
                        id="inputDescricao">



                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome do Curso</label>
                    <input class="form-control" [(ngModel)]="curso.cursoNome" type="text" name="cursoNome" id="inputcursoNome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Professor ID:</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="curso.professorId">
                        <option value="">Selecione ... </option>
                        <option *ngFor="let diretors of diretor" [ngValue]="diretors.matricula">
                            {{ diretors.nome }}
                        </option>

                    </select>

                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label>Curso ID</label>
                    <input class="form-control" [ngModel]="curso.id" type="text" name="id" disabled="true">
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" *ngIf="!curso.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" *ngIf="curso.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>

</div>